body {margin: 0; padding: 0;}

article {

	margin: auto;
	width: 1300px;
	min-width: 350px;
	line-height: 78px;
	
}
.navbar {
	display: flex;
	justify-content: center;
	margin: auto;
	width: 1300px;
	min-width: 350px;
	line-height: 78px;
	background-color: #e4e4e4
	
}

.site-menu {
	margin: 0;
	display: flex;
	list-style: none;
	margin: 0 30px 0 0;
	border-color: #006ba1;

}

ul {
	padding: 0;
	margin: 0 auto;

}

ul li {
	margin-right: 7px;
	padding-top: 11px;
}

.site-menu li {
	align-items: center;
	margin: 0 15px;
}

.site-menu a {
	font-family: "Open Sans", serif;
	font-weight: 700;
	margin: 0 15px;
	font-size: 14px; 
	text-transform: uppercase;
	color: #006ba1;
	text-decoration: none;
}

li:hover {
	background-color: #ffffff;
}

.main_h {
	margin: auto;
	text-align: center
}

.base_text {
	line-height: 25px;
	text-indent: 20px;
	font-size: 20px;
}
.map {
	position: relative;
	text-align: center;
	}

.solo_pic {
	width: 100%;

}

.base_list {

line-height: 25px;
text-indent: 20px;
font-size: 20px;	

}
svg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.part {
	opacity: .3;
}

.part:hover {
	transition: opacity .2s ease;
	opacity: 0.3;
	cursor: pointer;
}


.description {
	display: none;
	position: absolute;
	padding: 20px;
	box-sizing: border-box;
	width: 400px;
	height: 500px;
	box-shadow: 0 0 32px 10px #ccc;
	left: 20px;
	bottom: calc(50% - 200px);
	font-family: sans-serif;
}

.description img {
	width: 100%;
	margin-bottom: 25px;
}


.my_h3 {
	color: blue;
	height: 40px;
}
	
.text_p {
	height: 20px;
}

.h_class {
	margin-bottom: 0px;
	height: 35px;
}

.li_class {
	height: 35px;
	padding-top: 0px;
	text-indent: 35px;
}

.img_class {
	height: 670px;
	margin-left: 45px;
}

.img_class1 {
	height: 670px;
	margin-right: 45px;
}

.dostoprim_text {
	text-align: center;
	margin:auto;
	line-height: 25px;
	text-indent: 20px;
	font-family: 'Caveat', cursive;
	font-size: 30px;
    width: 445px;
	margin-top: 20px;
}

.dostoprim_pic {
	width: 100%;
   
}

.dostoprim_railroad {
	display: flex;

}

.dostoprim_div {
	display: flex;
	width: 50%;
}

.abs_left
{
position: absolute;
left: 1000px;
right: 290px;
top: 300px;
}
.abs_right
{
position: absolute;
left: 300px;
right: 100px;
top: 1150px;
}
.abs_right2
{
position: absolute;
left: 1000px;
right: 290px;
top: 1100px;
}
.abs_right3
{
	position: absolute;
	left: 1000px;
	right: 100px;
	top: 2020px;
	}
.qwerty
{
	font-family: 'Source Serif Pro', serif;
	
}
.qwerty2
{
	position: absolute;
	left: 310px;
	
}
.qwerty3
{
	position: absolute;
	top: 1100px;
}
.qwerty4
{
    position: absolute;
	top: 2000px;
}
.qwerty5
{
	position: absolute;
	top: 1700px;
}
.qwerty6
{
	position: absolute;
	top: 1750px;
	right: 290px;
	left: 1000px;
}
.qwerty7
{
	position: absolute;
	right: 290px;
	left: 290px;
	top: 2300px;
}
.qwerty8
{
    position: absolute;
	top: 0px;	
}
.qwerty9
{
	position: absolute;
	top: 850px;
	right: 290px;
	left: 290px;
}
.qwerty10
{
	position: absolute;
	right: 500px;
	left: 300px;
	top: 325px;
}
.qwerty11
{
	position: absolute;
	right: 500px;
	left: 850px;
	top: 230px;
}

.salo {
	width: 1100px;
	text-align: center;
}

.salo1 {
	width: 1300;
	text-align: center;
	height: 1515px;
}

.salo10 {
	width: 1300;
	text-align: center;
}

.salo2 {
	width: 1100px;
	text-align: center;
	margin-top: 60px;
}

.base_text1 {
	margin-top: 100px;
	line-height: 25px;
	text-indent: 20px;
	font-size: 20px;
	margin-left: 100px;
	margin-right: 100px;
}

.base_text3 {
	line-height: 25px;
	font-size: 20px;
	margin-top: 5px;
	margin-left: 100px;
	margin-right: 100px;
}

.my_h3-2 {
	color: blue;
	height: 40px;
	margin-bottom: 40px;
	margin-left: 40%;
	width: 350px;
}

.salo3 {
	width: 300px;
	text-align: center;
	margin-top: 50px;
}

.portB {
	margin-left: 100px;
	float: left;
	width: 300px;
	height: 550px;
}

.portBT {
	margin-top: 100px;
	line-height: 25px;
	text-indent: 20px;
	font-size: 20px;
	float: right;
	margin-right: 150px;
	width: 700px;
}

.hramART {
	margin-top: 600px;
	margin-bottom: 0px;
}

.saloBM {
	width: 400px;
	float: right;
	margin-top: 0px;
	margin-right: 100px;
}

.my_h3-3 {
	color: blue;
	height: 20px;
	width: 700px;
	margin-top: 0px;
	margin-left: 210px;
}

.base_text4 {
	line-height: 25px;
	text-indent: 20px;
	font-size: 20px;
	float: left;
	width: 600px;
}

.divtext4 {
	margin-left: 120px;
}

.my_h3-4 {
	color: blue;
	height: 20px;
	float: left;
	width: 600px;
	margin-top: 0px;
	margin-left: 70px
}

.my_h3-5 {
	color: blue;
	width: 600px;
	margin-top: 1150px;
	text-align: center;
	margin-left: 25%;
	margin-right: 25%;
}

.sanatB {
	text-align: center;
	width: 1100px;
}

.my_h3-6 {
	color: blue;
	width: 600px;
	margin-left: 35%;
	margin-right: 35%;
	width: 350px;
	height: 0px;
	margin-top: 0px;
	margin-bottom: 80px;
}

.base_text5 {
	line-height: 25px;
	text-indent: 20px;
	font-size: 20px;
	width: 1100px;
	margin-left: 100px;
}

.my_h3-7 {
	color: blue;
	width: 800px;
	margin-left: 20%;
	margin-right: 20%;
	width: 800px;
	height: 0px;
	margin-top: 0px;
	margin-bottom: 80px;
}

.base_text1-1 {
	line-height: 25px;
	text-indent: 20px;
	font-size: 20px;
	
}

.TeleSis {
	float: right;
	margin-right: 35%;
	width: 200px;
	height: 450px;
	margin-top: 25px;
}

.TeleShow {
	width: 600px;
}

.my_h3-tele {
	color: blue;
	height: 20px;
	width: 250px;
	margin-top: 0px;
	margin-left: 40%;
	margin-bottom: 50px;
}

.UsadbA {
	margin-left: 230px;
	width: 800px;
}
.UsadbA {
	margin-left: 230px;
	width: 800px;
}

.about_vitya {
	height: 500px;
}

.about_dima {
	height: 500px;
}

.about_serei {
	height: 500px;
}

.text_about {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
}
.text_about_1 {
    font-family: 'Lobster', cursive;
    font-size: 25px;
}
.text_about_2 {
    font-family: 'Orelega One', cursive;
    font-size: 25px;
}

.about_vk {
    font-family: 'Oswald', sans-serif;
    font-size: 5000px;
}

.email {
    color: blue;
}

.qwerty228
{
	margin-top: 15px;
}

.logo_1  {
	height: 50px;
    margin: 0 50px 0 0;
	padding-top: 5px;
  }
.logo_1 img{
	height: 70px;
}
.logo_2 {
	height: 50px;
    margin: 0 0 0 50px;
    padding-top: 5px;

}

.logo_2 img {
	height: 65px;
}
.navbar2 {
	display: flex;
	justify-content: center;
	margin: auto;
	width: 1300px;
	min-width: 350px;
	line-height: 0px;
	background-color: #e4e4e4
	
}
.qwerty123 {
	width: 100%;
	margin-left: 400px;
	
}

.text_about_15 {
    font-family: 'Yanone Kaffeesatz', sans-serif, bold;
	font-size: 50px;
}